# starter file from https://raw.githubusercontent.com/pallets/flask/master/.gitignore
.DS_Store
.env
.flaskenv
*.pyc
*.pyo
env
env*
dist
build
*.egg
*.egg-info
_mailinglist
.tox
.cache/
.idea/

# Coverage reports
htmlcov
.coverage
.coverage.*
*,cover

# trctr-pllr additions
data/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
