.vertical-radio-buttons ~ div, .vertical-checkboxes ~ div {
  display: block;
  padding: 0 0 5px 5px;
  clear: both;
}
.vertical-radio-buttons ~ span, .vertical-checkboxes ~ span {
  display: block;
  padding-left: 20px;
  cursor: inherit;
}
.vertical-radio-buttons ~ input, .vertical-checkboxes ~ input {
  float: left;
  width: 20px;
  margin-left: -20px;
  margin-top: 6px; // vertically align widget with text
  padding: 0;
}

textarea#output {
  resize: none;
  font-size: 0.8em;
}

.logotype{
  font-family: 'Averia Sans Libre', cursive;
  font-size: 2.2em;
}

/* Small only */
@media screen and (max-width: 39.9375em) {
  h1 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 0.4rem;
  }
  h2 {
    font-size: 17px;
    font-weight: 600;
  }
  h3 {
    font-size: 16px;
    font-weight: 600;
  }
}

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
  h1 {
    font-size: 18px;
    font-weight: 600;
    margin-top: 0.4rem;
  }
  h2 {
    font-size: 17px;
    font-weight: 600;
  }
  h3 {
    font-size: 16px;
    font-weight: 600;
  }
}

/* Large and up */
@media screen and (min-width: 64em) {
  h1 {
    font-size: 1.8rem;
    font-weight: 600;
    margin-top: 0.4rem;
  }
  h2 {
    font-size: 1.6rem;
    font-weight: 600;
  }
  h3 {
    font-size: 1.4rem;
    font-weight: 600;
  }
}
