  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TRCTR-PLLR</title>
    <script src="{{ url_for('static', filename='foundation-6.4.2-complete/js/vendor/jquery.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='foundation-6.4.2-complete/css/foundation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
  </head>
