{% extends 'base.html' %}
{% block content %}

<form action="#" method="get">
<div class="grid-x grid-padding-x">
  <div class="small-12 medium-3 cell">
    <fieldset class="fieldset">
      <legend>Observations</legend>
      <label>
        How many?
        <input type="number" name="observations" value="10">
      </label>
    </fieldset>

    <div class="vertical-radio-buttons">
      <fieldset class="fieldset">
        <legend>Output format</legend>
        <div>
          <span>
            <input type="radio" name="format" value="geojson" id="geojson" required checked>
            <label for="geojson">GeoJSON</label>
          </span>
        </div>
        <div>
          <span>
            <input type="radio" name="format" value="csv" id="csv" required>
            <label for="csv">Comma delimited</label>
          </span>
        </div>
        <div>
          <span>
            <input type="radio" name="format" value="tsv" id="tsv" required>
            <label for="tsv">Tab delimited</label>
          </span>
        </div>
      </fieldset>
    </div>
    <button id="generate" class="hollow button float-center" type="submit">Generate features</button>
  </div>

  <div class="small-12 medium-4 cell">
    <fieldset class="fieldset">
      <legend>Properties</legend>
      <div id="propertyPanel">
        <p>
          The <a href="https://www.census.gov/geo/maps-data/data/gazetteer2010.html">2010 National Census Tracts Gazetteer File</a> includes the properties <b>geoid</b>, <b>usps</b> (state or territory), and <b>pop10</b> (tract population). They're helpful and, by default, they're included in your output.
        </p>
        <p class="float-center">
          <input type="checkbox" name="geoid" id="geoid" required checked>
          <label for="geoid">geoid</label>
          <input type="checkbox" name="usps" id="usps" required checked>
          <label for="usps">usps</label>
          <input type="checkbox" name="pop10" id="pop10" required checked>
          <label for="pop10">pop10</label>
        </p>
        <p>
          You can add one custom property and specify weights for its distribution.
        </p>

        <p id="customProperty">
          <button id="addFeature" class="hollow small button float-center" type="submit">Yes, please</button>
        </p>
      </div>
    </fieldset>
    
  </div>

  <div class="small-12 medium-5 cell">
    <fieldset class="fieldset">
      <legend>Output</legend>
      <textarea id="output" name="output" disabled wrap="off"></textarea>
    </fieldset>
  </div>
</div>
</form>

<script>
  $(document).ready(function () {
    var
      outputHeight,
      windowHeight = window.innerHeight,
      topBarHeight = parseFloat($('#widemenu').height()),
      cellHeight = parseFloat($('.cell').height()),
      fieldsetHeight = parseFloat($('.fieldset').css('margin-top')) + parseFloat($('.fieldset').css('padding-top')) + parseFloat($('.fieldset').css('padding-bottom') + parseFloat($('.fieldset').css('margin-bottom')))
      ;
    outputHeight = windowHeight - topBarHeight - 1.5 * cellHeight - fieldsetHeight;
    $('#output').height(outputHeight);
    $('#addFeature').on('click', function (e) {
      e.preventDefault();
      $('#customProperty').empty().append($('#customPropertyPanel').toggle());
    });
    $('#generate').on('click', function (e) {
      e.preventDefault();
      $('#output').empty();
      var url = '/tracts?' + $('form').serialize();
      $.get(url, function (data) {
        if ($('#geojson').is(':checked')) {
          $('#output').append(JSON.stringify(JSON.parse(data), undefined, 4));
        } else {
          $('#output').append(data);
        }
      })
    });
    $('#customPropertyNumberOfValues').on('change', function () {
      $('#customPropertiesPanel').empty();
      for (var i=0; i<$('#customPropertyNumberOfValues').val(); i++) {
        $('#customPropertiesPanel').append('\
          <div class="small-7 cell"> \
            <input type="text" name="value-' + i + '" id="value-' + i + '" placeholder="Value"> \
          </div> \
          <div class="small-5 cell"> \
            <input type="number" min="0.0" max="1.0" step="0.01" name="weight-' + i + '" id="value-' + i + '" placeholder="Weight"> \
          </div>'
        )
      }

    })
  })
</script>

<div id="customPropertyPanel" style="display:none;">
  <fieldset class="fieldset">
    <legend>Custom Property</legend>
    <label for="customPropertyName">Property Name</label>
    <input type="text" id="customPropertyName" name="customPropertyName" placeholder="Property Name" required>
    <label for="customPropertyNumberOfValues">Number of Values</label>
    <input type="number" min="1" id="customPropertyNumberOfValues" name="customPropertyNumber">
    <div id="customPropertiesPanel" class="grid-x grid-padding-x"></div>
  </fieldset>
</div>
{% endblock %}
